<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../bootstrap.min.css" rel="stylesheet">
  <link href="../index.css" rel="stylesheet">
  <style>
    .bg-blue {
      background-color: blue;
    }
  </style>
  <title>Profil</title>
</head>

<body class="container-fluid bg-dark-subtle">
<header class="mb-5 bg-blue pt-1 pb-2 rounded-3">
  <nav class="h5 navbar navbar-expand text-light navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav container-fluid text-center row">
        <li class="nav-item col"><a class="nav-link" href="/index">Home</a></li>
        <li class="nav-item col"><a class="nav-link" href="/transfer">Transfer</a></li>
        <li class="nav-item col"><a class="nav-link" href="/profile">Profile</a></li>
        <li class="nav-item col"><a class="nav-link" href="/add-contact">Contact</a></li>
        <li class="nav-item col"><a class="nav-link" href="/">Sign out</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>


  <h2>Flashcash</h2>
  <h3><a href="/add-iban">-Ajout de l'IBAN</a></h3>
  <h3><a href="/transfer-to-flashcash">-Transfer vers flashcash</a></h3>
  <h3><a href="/transfer-to-bank">-Transfer vers votre banque</a></h3>
  <h3><a href="/add-contact">-Ajout d'un contact</a></h3>



</main>


<footer class="container-fluid mt-5 pt-5 pb-5 bg-dark rounded-3 text-light">
  <div class="navbar navbar-expand rounded-3 navbar-dark">
    <div class="container-fluid row">
      <ul class="container-fluid text-center col">
        <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
      </ul>
      <ul class="container-fluid text-center col">
        <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
      </ul>
      <ul class="container-fluid text-center col">
        <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
        <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
      </ul>
    </div>
  </div>
</footer>

</body>

</html>