<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap.min.css" rel="stylesheet">
    <link href="../index.css" rel="stylesheet">
    <title>Créer article</title>
</head>

<body class="container-fluid bg-dark-subtle">
<header class="mb-5 bg-dark pt-1 pb-2 rounded-3">
    <nav class="h5 navbar navbar-expand text-light navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav container-fluid text-center row">
                <li class="nav-item col"><a class="nav-link" href="/personal">Personnel</a></li>
                <li class="nav-item col"><a class="nav-link" href="/science">Science</a></li>
                <li class="nav-item col"><a class="nav-link" href="/politics">Politique</a></li>
                <li class="nav-item col"><a class="nav-link" href="/other">Autre</a></li>
            </ul>
            <div class="text-center">
                <a href="/profile.html">
                    <img src="image/pp-empty.png" alt="pp" height="50" width="50" class="rounded-5">
                    <p>Pseudo</p>
                </a>
            </div>
        </div>
    </nav>
</header>


<main>
    <form th:action="@{/create-article}" th:object="${addarticle}" method="POST">
        <h1 class="text-center">Créer article</h1>
        <input placeholder="Titre" th:field="*{title}">
        <input placeholder="Texte" th:field="*{text}">
        <button type="submit">Add</button>
    </form>


</main>

<footer class="container-fluid mt-5 pt-5 pb-5 bg-dark rounded-3 text-light">
    <div class="navbar navbar-expand rounded-3 navbar-dark">
        <div class="container-fluid row">
            <ul class="container-fluid text-center col">
                <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
            </ul>
            <ul class="container-fluid text-center col">
                <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
            </ul>
            <ul class="container-fluid text-center col">
                <li class="list-group-item h6"><a class="nav-link" href="#">Titre</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 1</a></li>
                <li class="list-group-item"><a class="nav-link" href="#">SousTitre 2</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>